<p>
  livro341 works!
</p>

<select #combobox1 id="combobox1">
  <option > Argentina</option>
  <option > Brasil</option>
  <option > Israel</option>
  <option > Holanda</option>
  <option > Irlanda</option>
</select>
<select #combobox2 id="combobox2">
  <option > Buenos Aires </option>
  <option > Brasília </option>
  <option > Quebec </option>
  <option > Beijing </option>
  <option > Hong Kong</option>
</select>
<button (click)="mostrarValor(combobox1.value, combobox2.value)" >ver valor</button>